body,p,form,input,button,dl,dt,dd,ul,ol,li,h1,h2,h3,h4{margin:0;padding:0;list-style:none;}
body,button,input,select,textarea{font:12px 'Roboto',Helvetica Neue,Helvetica,Arial,PingFang SC,San Francisco,Noto Sans CJK,Heiti,华文细黑,hiragino sans gb,SimSun, sans serif;color:#333;}
input,select,textarea{font-size:100%;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
a.blue_link{color:#06c;}
a.blue_link:hover{color:#f60;}
.clearfix:after{display:block;content:".";height:0;visibility:hidden;clear:both;font-size:0;line-height:0;}
.clearfix{*zoom:1;}
img{border:0 none;vertical-align:top;}
em{font-style:normal;}
button::-moz-focus-inner{padding:0;border:none;}
.wrap{width:980px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.mt{margin-top:10px;}
.ml{margin-left:10px;}
.mt5{margin-top:5px;}
.mt20{margin-top:20px;}
.mt10{margin-top:10px;}
.mb{margin-bottom:10px;}
.none{display:none;}

@keyframes circling{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
@keyframes circling2{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(-360deg);
    }
}


.commonBox{
    position: relative;
    /*margin: 20px 10px 0;*/
    background: rgba(9,30,92,0.6);
}
.midCenterBox{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.commonBox120{
    position: absolute;
    top: 15%;
    width: 180px;
    height: 0;
    padding-top: 72px;
    font-size: 16px;
}
.commonBox120 .innerBox{
    /*display: flex;*/
    color: #29B0FF;
    /*justify-content: center;*/
    /*text-align: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.commonBox228{
    width: 160px;
    height: 0;
    padding-top: 19.955157%;
}
.commonBox160{
    width: 160px;
    height: 0;
    padding-top: 80px;
}
.commonBox200{
    width: 200px;
    height: 0;
    padding-top: 80px;
}
.commonBox130{
    width: 130px;
    height: 0;
    padding-top: 80px;
}

.commonBox168{
    width: 100%;
    height: 168px;
}
.commonBox60{
    width: 19.955157%;
    height: 0;
    padding-top: 19.955157%;
}
.commonBox300{
    width: 100%;
    height:0;
    padding-top:295px;
}
.innerBox{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #56AEFF, #56AEFF) left top no-repeat,
    linear-gradient(to bottom, #56AEFF, #56AEFF) left top no-repeat,
    linear-gradient(to left, #56AEFF, #56AEFF) right top no-repeat,
    linear-gradient(to bottom, #56AEFF, #56AEFF) right top no-repeat,
    linear-gradient(to left, #56AEFF, #56AEFF) left bottom no-repeat,
    linear-gradient(to bottom, #56AEFF, #56AEFF) left bottom no-repeat,
    linear-gradient(to left, #56AEFF, #56AEFF) right bottom no-repeat,
    linear-gradient(to left, #56AEFF, #56AEFF) right bottom no-repeat;
    background-size: 2px 10px, 10px 2px, 2px 10px, 10px 2px;
}
.legendLeft{
    position: absolute;
    bottom: 18%;
    left: 0;
    width: 120px;
    height: 0;
    padding-top: 46.511627906976744%;
    z-index: 4;
}
.legendRight{
    left: auto;
    right: 0;
}
.legendLeft ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.legendLeft ul li{
    position: relative;
    width: 100%;
    height: 0;
    margin-bottom: 15px;
    padding-top: 72px;
    background: url("../image/storeBg.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
}
.legendLeft ul li .pieChart{

    position: absolute;
    right:0;
    bottom: 0;
}

.legendLeft ul li .innerLi{
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    /*height: 100%;*/
    padding-top: 10%;
    padding-left: 10%;
}
.innerLi .storeName{
    position: relative;
    padding-left: 10px;
    margin-top: 8px;
    color: #29B0FF;
}
.innerLi .storeName i{
    position: absolute;
    left: 0;
    top: 6px;
    /*display: inline-block;*/
    width: 6px;
    height: 6px;
    background-color: #29B0FF ;
}
/*.innerLi .storeName i:before{*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: -5px;*/
    /*content: '';*/

/*}*/
.innerLi .storeNumber{
    color: #fff;
    font-size: 20px;
}



/*水波纹效果*/
.spliter {
    width: 100%;
    height: 20px;
}

/************以下为具体实现************/

.wave {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 28px;
}

.wave .circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
}

/* 波纹效果 */
.wave.ripple .circle {
    width: calc(100% - 6px); /* 减去边框的大小 */
    height: calc(100% - 6px);/* 减去边框的大小 */
    border: 3px solid #fff;
}

.wave.ripple .circle:first-child {
    animation: circle-opacity 2s infinite;
}

.wave.ripple .circle:nth-child(2) {
    animation: circle-opacity 2s infinite;
    animation-delay: .3s;
}

.wave.ripple .circle:nth-child(3) {
    animation: circle-opacity 2s infinite;
    animation-delay: .6s;
}

.wave.ripple.danger {
    color: red;
}

.wave.ripple.danger .circle {
    border-color: red;
}

.wave.ripple.warning {
    color: orange;
}

.wave.ripple.warning .circle {
    border-color: orange;
}

