body,html{
   /*overflow: auto;*/
}
.mContent{
    top: 84px;
    height: 850px;
}
.mMid{
    padding: 20px 18px 0;
}
.lineBox{
    justify-content: flex-start;
}
.line-back{
    position: relative;
}
.mLeft .line-back,
.mRight .line-back{
    padding-top: 7px;
}
.mRight .line{
    display: block;
}
.mRight .line-fir{
    margin-top: 8px;
}

.mLeft .line-list,
.mRight .line-list,
.mLeft .line-sprite{
    display: block;
}
.line-list .tit,
.line-sprite .tit{
    width: 100%;
}
.commonBox477{
    width: 100%;
    height: 477px;
}
.commonBox477 .cir-list{
    display: flex;
    width: 100%;
    height: 210px;
    justify-content: space-around;
}
.commonBox477 .cir-list li{
    position: relative;
    margin: 40px 0 50px;
}
.commonBox477 .cir-list li .list{
    width: 86px;
    height: 86px;
    padding-top: 1px;
    background-image: linear-gradient(to bottom,#229FFF,#4D3CEC);
    border-radius: 80px;
}
.commonBox477 .cir-list li .innerLi{
    width: 70px;
    height: 70px;
    margin: 8px;
    background-color: #091E5C;
    border-radius: 80px;
    color: #fff;
    font-size: 16px;
    line-height: 70px;
    text-align: center;
}
.commonBox477 .cir-list li .innerTxt{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #29B0FF;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
.commonBox258{
    width: 100%;
    height: 258px;
    overflow: hidden;
}
.sum-box{
    position: relative;
    width: 280px;
    height: 238px;
    margin: 0 auto;
    padding-top: 1px;
    background: url("../image/sum.png") center no-repeat;
    background-size: 100% auto;
}
.sum-box:after{
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';

}
.sum-box .radial{
    position: absolute;
    left: 57px;
    top: 0;
    width: 164px;
    height: 164px;
    padding-top: 1px;
    margin:37px auto;
    background: url("../image/shexian.png") center no-repeat;
    background-size: 100% auto;
}
.sum-box .cirImg{
    position: absolute;
    left: 71px;
    top: 50px;
    width: 140px;
    height: 140px;
    /*margin:16px auto;*/
    background: url("../image/cirImg.png") center no-repeat;
    background-size: 100% auto;
    z-index: 10;
}
.numberRadial{
    margin-top: 50px;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.txtRadial{
    color: #29B0FF;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
.order-list{
    width: 100%;
    height: 258px;
}
.order-list thead th{
    position: relative;
    height: 30px;
    /*padding: 0 0 0 5px;*/
    color: #00B6FF;
    font-size: 12px;
    text-align: left;
    line-height: 30px;
}
.order-list tbody tr td{
    position: relative;
    /*height: 30px;*/
    padding: 0 0 0 5px;
    color: #00B6FF;
    font-size: 12px;
    text-align: left;
    /*line-height: 30px;*/
}
.order-list thead th div.mini,
.order-list tbody tr td div.mini{
    color: #00B6FF;
    font-size: 12px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform-origin: left top 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.order-list tbody tr td .detail{
    cursor: pointer;
}
.order-list a{
    display: block;
    color: #00B6FF;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform-origin: left top 0;
}
.order-list th{
    color: #fff;
}
.order-list tr:nth-child(odd) td{
    background-color: rgba(25,79,179,0.15);
}
.liquild{
    width: 50%;
    height: 100%;
}



.mCenter{
    position: relative;
    height: 490px;
    padding-top: 24px;
    background: rgba(9,30,92,0.6);
}
.mCenter .before:before{
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 32px;
    height: 32px;
    background: url("../image/upl.png") center no-repeat;
    background-size: 100% auto;
}
.mCenter .before:after{
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    width: 32px;
    height: 32px;
    background: url("../image/right.png") center no-repeat;
    background-size: 100% auto;
}

.mCenter .after:before{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 32px;
    height: 32px;
    background: url("../image/left.png") center no-repeat;
    background-size: 100% auto;
}
.mCenter .after:after{
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    width: 32px;
    height: 32px;
    background: url("../image/bottom.png") center no-repeat;
    background-size: 100% auto;
}
.mainData{
    height: 180px;
    margin: 0 30px 24px;
    background: url("../image/jxbg.png");
    background-size: 100% auto;
}
.compare-box{
    position: relative;
}
.compare-box li{
    float: left;
    width: 50%;
    padding-top: 30px;
    text-align: center;
}
.compare-box li .tit{
    font-size: 14px;
    color: #29B0FF;
}
.compare-box li .data{
    font-size: 48px;
    color: #fff;
    letter-spacing: 1px;
}
.compare-box li .index{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    line-height: 24px;
}
.compare-box li .index .txt{
    font-size: 12px;
    color: #fff;
}
.compare-box li .index .num{
    margin-left: 10px;
    font-size: 24px;
    color: #fff;
    letter-spacing: 1px;
}
.mMid-box{
    display: flex;
    margin: 0 32px;
}
.mMid-box li{
    width: 50%;
}
.mMid-box li:last-child dl{
    padding-left: 50px;
    box-sizing: border-box;
}
.mMid-box li .tit{
    padding-bottom: 6px;
    padding-left: 4px;
    background: url("../image/titLine.png") bottom left no-repeat;
    background-size: 280px auto;
    font-size: 10px;
    color: #29B0FF;
    line-height: 30px;
}
.mMid-box li dl{
    width: 100%;
    height: 100%;
}
.mMid-box li dl dd{
    display: flex;
    float: left;
    width: 50%;
    padding-top: 48px;
    height: 50px;
}
.mMid-box li dl dd .icon{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    background: url("../image/icon01.png") no-repeat;
    background-size: 100% auto;
}
.mMid-box li dl dd:nth-child(2) .icon{
    background: url("../image/icon02.png") no-repeat;
    background-size: 100% auto;
}
.mMid-box li dl dd:nth-child(3) .icon{
    background: url("../image/icon03.png") no-repeat;
    background-size: 100% auto;
}
.mMid-box li dl dd:nth-child(4) .icon{
    background: url("../image/icon04.png") no-repeat;
    background-size: 100% auto;
}
.mMid-box li dl dd .desc{}
.mMid-box li dl dd .desc .dat{
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30px;
}
.mMid-box li dl dd .desc .txt{
    font-size: 12px;
    color: #3984FF;
    line-height: 20px;
}

.mBottom{
    height: 298px;
    margin-top: 20px;
}
.mBottom .tran-road{
    position: relative;
    background: url("../image/linebg.png")  no-repeat;
    background-position-x: center;
    background-position-y: 106px;
    background-size: 567px auto;
}
.mBottom .tran-road .light{
    position: absolute;
    left: 50px;
    top: 48px;
    width: 130px;
    height: 200px;
    background: url("../image/timebg.png") top no-repeat;
    background-size: 98px auto;
}
.mBottom .tran-road .light .time{
    position: absolute;
    top: 10px;
    left: 0;
    width: 130px;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}
.mBottom .tran-road .light .txt{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 130px;
    font-size: 12px;
    color: #29B0FF;
    text-align: center;
}
.mBottom .tran-road .light .txt i{
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background-image: linear-gradient(-180deg, #445EFF 0%, #812CFF 100%);
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    text-align: center;
}
.mBottom .tran-road .light:nth-child(2){
    left: 250px;
    top: 10px;
}
.mBottom .tran-road .light:nth-child(3){
    left: 450px;
}
.mBottom .tran-road .light:nth-child(4){
    left: 650px;
    top: 10px;
}

svg {
    width: 567px;
    display: block;
    position: absolute;
  }
svg .path { stroke-dasharray: 800; stroke-dashoffset: 0; animation: dash 1s linear; }

svg @keyframes dash { from { stroke-dashoffset: 800; } to { stroke-dashoffset: 0; } }

.water1, .water2, .water3, .water4 {
    padding: 20%;
    position: absolute;
    left: 30%;
    top: 26%;
    border: 1px solid rgba(68,113,224,1);
    box-shadow: 0 0 120px 30px rgba(68,113,224, 1) inset;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
}