html,body{
    position: relative;
    width:100%;
    height: 100%;
    overflow: hidden;
    font-family:'Roboto',Helvetica Neue,Helvetica,Arial,PingFang SC,San Francisco,Noto Sans CJK,Heiti,华文细黑,hiragino sans gb,SimSun, sans serif
}
body{
    position: relative;
    background-image: linear-gradient(0deg, #041C3E 0%, #16195B 100%);
}
.monitorBg{
    position: absolute;
    left: 0;
    top: 0;
    /*width:100%;*/
    width: 1680px;
    height: 946px;
    transform-origin: left top 0;
    transform: scale(1);
    overflow: hidden;
    background: url("../image/grid.png");
    background-size: 100% 100%;
}
.mHead{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 84px;
    /*padding-top: 3.75%;*/
    background: url("../image/titBg.png");
    background-size: 100% 100%;

}
.mHead .tit{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 84px;
    color: #FFFFFF;
    font-size: 32px;
    /*font-size: 24px;*/
    text-align: center;
    line-height: 84px;
}
.mHead .logo{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 230px;
    height: 32px;
    background: url("../image/logo.png");
    background-size: 100% 100%;
}
.mHead .time{
    position: absolute;
    right: 52px;
    top: 15px;
    color: #00B6FF;
    font-size: 12px;
    line-height: 24px;
}
.mHead .esc-btn{
    position: absolute;
    right: 18px;
    top: 15px;
    width: 24px;
    height: 24px;
    background: url("../image/close.png");
    background-size: 100% 100%;
}
.mContent{
    position: absolute;
    top: 75px;
    left: 0;
    display: flex;
    width: 100%;
    height: 850px;
}
/*布局比例 s*/
.lineBox{
    display: flex;
    position: relative;
    height: 100%;
    padding: 0 14px 0 10px;
    flex-direction: column;
    justify-content: space-between;
}
.mLeft{
    /*width: 360px;*/
    width: 25%;
    height: 100%;
    padding-top: 20px;
}
.mRight{
    /*width: 360px;*/
    width: 25%;
    height: 100%;
    padding-top: 20px;
}
.mMid{
    flex: auto;
    /*width: 51.547619%;*/
    height: 100%;
}
.mMid .lineBox{
    padding: 20px 40px 0;
}
/*布局比例 e*/

.mLeft .line,.mRight .line{
    display: flex;
}
.mLeft .line-fir,.mRight .line-fir{
    margin-top: 10px;
    justify-content: space-between;
}

.mRight .line-sec,.mRight .line-third,
.mLeft .line-sec,.mLeft .line-third{
    display: block;
    margin-bottom: 20px;
}
.line .tit{
    height: 30px;
    font-size: 12px;
    color: #29B0FF;
    line-height: 30px;
}
.line .tit .top{
    float: right;
}
.line .tit .top i{
    float: right;
    width: 10px;
    height: 30px;
    margin-left: 5px;
    background: url("../image/up.png") center no-repeat;
    background-size: 80% 40%;
}
.mRight .innerBox,
.mLeft .innerBox{
    display: flex;
    justify-content: center;
}
.mRight .line-sec .innerBox,
.mLeft .line-sec .innerBox{
    /*padding: 0 15px;*/
    justify-content: space-around;
}

.line-fir .innerBox{
    align-items: center;
}
.mRight .innerBox .check{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: url("../image/monitor.png");
    background-size: 100% 100%;
    align-items: center;
}
.mRight .commonBox228{
    width: 100%;
}
.mLeft .innerBox .file{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: url("../image/brief.png");
    background-size: 100% 100%;
    align-items: center;
}
.mRight .innerBox .blueGo,
.mLeft .innerBox .blueGo{
    width: 8px;
    height: 12px;
    margin-left: 5px;
    background: url("../image/go.png");
    background-size: 100% 100%;
    align-items: center;
}
.mRight .innerBox .txt,
.mLeft .innerBox .txt{
    font-size: 18px;
    color: #56AEFF;
}
.mLeft .innerBox .code{
    width: 62px;
    height: 62px;
    margin: 10px;
    background: rgba(0,69,153,0.5);
}
.mLeft .code .innerCode{
    width: 50px;
    height: 50px;
    margin: 6px;
    background: url("../image/code.png");
    background-size: 100% 100%;
}





/*中间部分*/

.mMid .midTop{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 9.819121%;
    color: #56AEFF;
}
.mMid .midTop .innerTop{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.mMid .midTop .tLeft,
.mMid .midTop .tRight{
    width: 50%;
}
.mMid .midTop .tRight{

}
.mMid .midTop .tLeft .tit,
.mMid .midTop .tRight .tit{
    font-size: 12px;
    line-height: 30px;
    text-align: left;
}

.mMid .midTop .tRight dl{
    float: right;
}
.mMid .midTop .tLeft dd,
.mMid .midTop .tRight dd{
    position: relative;
    float: left;
    width: 38px;
    height: 54px;
    margin-right: 6px;
    background-color: #272951;
    border: 1px #343652 solid;
    color: #fff;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
}
/*.mMid .midTop .tLeft dd span,*/
/*.mMid .midTop .tRight dd span{*/
    /*position: absolute;*/
    /*top: -100%;*/
    /*opacity: 0;*/
/*}*/

.mMid .midCenter{
    display: flex;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    z-index: 4;
}
.mMid .midCenter dl{
    width: 50%;
}
.mMid .midCenter dl dt{
    color: #00B6FF;
}
.mMid .midCenter dl dd{
    height: 30px;
    color:#fff;
    line-height: 30px;
}
.index .green{
    color: #24FFB6;
}
.index .red{
    color: #FF3737;
}
.index .number{
    height: 24px;
    padding: 0 10px;
    margin-top: 5px;
    border-radius: 20px;
    line-height: 24px;
}
.index .num{
    font-size: 24px;
}
.index .green{
    margin-left: 10px;
    background-color: rgba(0,179,119,0.2);
}
.index .red{
    margin-left: 10px;
    background-color: rgba(255,55,55,0.2);
}
.index i,
.index span{
    float: left;
}
.index span.icon{
    /* margin-left: 4px; */
}
.index .greenUp{
    float: left;
    width: 10px;
    height: 24px;
    background: url("../image/green-up.png") center no-repeat;
    background-size: 100% auto;
}
.index .redDown{
    float: left;
    width: 10px;
    height: 24px;
    background: url("../image/red-down.png") center no-repeat;
    background-size: 100% auto;
}
.midContainer{
    position: relative;
    height: 0;
    padding-top: 730px;

}
.mMid .midBox .center{
    position: absolute;
    left: 50%;
    top: 80px;
    margin-left: -82px;
    width: 174px;
    height: 52px;

}
.mMid .midBox .center .xzBox{
    position: absolute;
    left:0;
    top:0;
    width: 52px;
    height: 52px;
    background: url(../image/home.png) center no-repeat;
    background-size: 60% auto;
}
.mMid .midBox .center .imgBox{
    position: absolute;
    left: 47px;
    top: 4px;
    width: 130px;
    height: 46px;
    /*background: url(../image/lihuo.jpeg) center no-repeat;*/
    background: url(../image/center.png) center no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
}
.mMid .midBox .center .outCir{
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    height: 52px;
    background: url("../image/small-out.png") no-repeat;
    background-size: 100% auto;
    z-index: 3;
    animation:circling2 5s linear 0s infinite;
}
.mMid .midBox .center .innerCir{
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    height: 52px;
    background: url(../image/small-in.png) center no-repeat;
    background-size: 78% auto;
    z-index: 3;
    animation:circling 5s linear 0s infinite;
}
.inner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../image/small-in.png) no-repeat;
    background-size: 80% auto;
    z-index: 3;
    animation:circling 5s linear 0s infinite;
}
.mMid .midBox{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform:translate(-50%, -45%);
    -moz-transform:translate(-50%, -45%);
    transform:translate( -50%, -45%);
    width: 88.51938%;
    padding-top: 74.031%;
    margin: 0 auto;
    background: url("../image/china.png") center no-repeat;
    background-size: 100% auto;
    z-index: 2;
}
.mapOut{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform:translate(-50%, -45%);
    -moz-transform:translate(-50%, -45%);
    transform:translate( -50%, -45%);
    width: 89.643411%;
    height: 0;
    padding-top:  73.643411%;

    /*transform-origin:-50% -50%;*/

}
.mapOut .inner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../image/map-out.png") center no-repeat;
    background-size: 96% auto;
    animation:circling 5s linear 0s infinite;
    z-index: 1;
    opacity: 0.3;
}
@keyframes circling{
     from{
         transform:rotate(0deg);
     }
     to{
         transform:rotate(360deg);
     }
 }
@keyframes circling2{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(-360deg);
    }
}


.mapIn{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform:translate(-50%, -45%);
    -moz-transform:translate(-50%, -45%);
    transform:translate( -50%, -45%);
    width: 62.263566%;
    height: 0;
    padding-top:  54.263566%;
}
.mapIn .inner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../image/map-in.png")  center no-repeat;
    background-size: 93% auto;
    animation:circling2 5s linear 0s infinite;
    z-index: 1;
    opacity: 0.3;
}
.lineBg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../image/line.png")  center no-repeat;
    background-size: 37% auto;
    animation:circling2 10s linear 0s infinite;
    z-index: 1;
    opacity: 0.3;
}
.mapBg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../image/map.png")  center no-repeat;
    background-size: 33% auto;
    animation:circling 10s linear 0s infinite;
    z-index: 1;
    opacity: 0.3;
}



.indexBox{
    width: 100%;
}
.indexBox li{
    float: left;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 33.3%;
    text-align: center;
   align-items: center;
    justify-content: center;
}
.indexBox li .name{
    font-size: 12px;
    color: #00B6FF;
}
.indexBox li .data{
    font-size: 14px;
    color: #fff;
}
.indexBox .index .green,
.indexBox .index .red{
    margin-left: 0;
}
.indexBox .index  .number{
    padding: 0 3px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
.index .redUp{
    float: left;
    width: 8px;
    height: 20px;
    background: url("../image/red-up.png") center no-repeat;
    background-size: 100% auto;
}
.index .greenDown{
    float: left;
    width: 8px;
    height: 20px;
    background: url("../image/green-down.png") center no-repeat;
    background-size: 100% auto;
}


/* 波动效果 */

.waterBox {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
}
.hebei{
    left: 454px;
    top: 235px;
}

.water1 {
    -webkit-animation: wateranimate 12s 9s ease-out infinite;
    animation: wateranimate 12s 9s ease-out infinite;
}
.water2 {
    -webkit-animation: wateranimate 12s 6s ease-out infinite;
    animation: wateranimate 12s 6s ease-out infinite;
}
.water3 {
    -webkit-animation: wateranimate 12s 3s ease-out infinite;
    animation: wateranimate 12s 3s ease-out infinite;
}
.water4 {
    -webkit-animation: wateranimate 12s 0s ease-out infinite;
    animation: wateranimate 12s 0s ease-out infinite;
}
.water1, .water2, .water3, .water4 {
    padding: 20%;
    position: absolute;
    left: 30%;
    top: 30%;
    border: 1px solid rgba(7,255,244,1);
    box-shadow: 0 0 120px 30px rgba(7,255,244, 1) inset;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
}
.water5{
    padding: 20%;
    position: absolute;
    left: 30%;
    top: 30%;
    
}

@-webkit-keyframes wateranimate {
    0% {
        -webkit-transform: scale(0);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(2);
        opacity: 0;
    }
}
@keyframes wateranimate {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}