html,body{
    position: relative;
    width:100%;
    height: 100%;
    overflow: hidden;
    font-family:'Roboto',Helvetica Neue,Helvetica,Arial,PingFang SC,San Francisco,Noto Sans CJK,Heiti,华文细黑,hiragino sans gb,SimSun, sans serif
}
body{
    position: relative;
    background-image: linear-gradient(0deg, #041C3E 0%, #16195B 100%);
}
.monitorBg{
    position: absolute;
    left: 0;
    top: 0;
    /*width:100%;*/
    width: 1680px;
    height: 946px;
    transform-origin: left top 0;
    transform: scale(1);
    overflow: hidden;
    /*background: url("../image/grid.j");*/
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
}
.line-back{
    position: fixed;
    left: 20px;
    top: 60px;
    z-index: 100;
}
.left-box{
   width: 835px;
}
.right-box{
    width: 834px;
}
video{
    width: 100%;
    height: 100%;
}
.left-box li,.right-box li{
    position: relative;
    /*height: 380px;*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.right-box li{
    margin-bottom: 8px;
}
li .innerBox{
    border: 1px #56AEFF solid;
}
.left-box li .innerBox,.right-box li .innerBox{
    position: relative;
    background: none;
}
.right-box li .innerBox,.left-box li .innerBox{
    width: 410px;
    height: 308px;
}

.left-box li.biggest .innerBox{
    width: 830px;
    height: 624px;
}
.left-box li:last-child,.right-box li:last-child{
    padding-bottom: 0;
}
.right-box li{
    /*width: 830px;*/
}
.big{
    width: 830px;
    height: 624px;
}
.small{
    /*float: left;*/
    width: 410px;
    height: 308px;
}
.right-box li .small{
    margin-right: 20px;
}
.right-box li .small:last-child{
    margin-right: 0;
}
.tit-box{
    position: absolute;
    left: 50%;
    top: 0;
    width: 192px;
    height: 22px;
    /*padding: 0 45px;*/
    margin-left: -96px;
    background: url("../image/videoTitBg.png");
    background-size: 100% 100%;
    z-index: 1;
    font-size: 12px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
}
.tit-box .left{
    width: 20px;
    height: 10px;
    margin: 6px;
    background: url("../image/le.png") center no-repeat;
    background-size: 100% auto;
}
.tit-box .right{
    width: 20px;
    height: 10px;
    margin: 6px;
    background: url("../image/ri.png") center no-repeat;
    background-size: 100% auto;
    align-items: center;
}
li .top,li .bot{
    /*position: relative;*/
}
li .top:after{
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 10px;
    height: 10px;
    background: url("../image/leUp.png");
    background-size: 100% 100%;
    z-index: 1;
}
li .top:before{
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    width: 10px;
    height: 10px;
    background: url("../image/riUp.png");
    background-size: 100% 100%;
    z-index: 1;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); 	/* Opera */
}
li .bot:after{
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    width: 10px;
    height: 10px;
    background: url("../image/riDown.png");
    background-size: 100% 100%;
    z-index: 1;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); 	/* Opera */
}
li .bot:before{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 10px;
    height: 10px;
    background: url("../image/leDown.png");
    background-size: 100% 100%;
    z-index: 1;
}
/*.left-box li video,.right-box li video{*/
    /*margin-right: 10px;*/
/*}*/

.video-js .vjs-big-play-button{
    top: auto;
    left: 50%;
    bottom: 10px;
    margin-left: -1.5em;
}